
@{
    Layout = null;
}

<!DOCTYPE html>
@*
    Error page that prevents user from seeing broken code
*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        Something went wrong, please try again?
    </div>
</body>
</html>
