
@{
    ViewBag.Title = "LoginFailed";
}
@*
    Failed login page when user criteria does not match database query    
*@
<h2>LoginFailed</h2>

<body>
    <div>
        Login Failed
    </div>
</body>
