
@{
    ViewBag.Title = "LoginPassed";
}
@*
    Login passed view that displays when user inputs correct authentication information    
*@
<h2>LoginPassed</h2>
<body>
    <div>
        Login Passed
    </div>
</body>

